.Header {
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 14px;
    background: #F8FAFF;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 40px;
        gap: 10px;

        .left {
            display: flex;
            align-items: center;
            width: 300px;
            border-radius: 5px;
            padding: 0px;

            .hideBtn {
                display: none;

                @media only screen and (max-width: 767px) {
                    display: contents;
                }

                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    display: contents;
                }
            }

            span {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            h1 {
                padding: 0 10px;
                font-size: 24px;
                line-height: 32px;
                font-weight: 600;

            }
        }

        .right {
            display: flex;
            align-items: flex-end;
            gap: 10px;

            img {
                border-radius: 100%;
            }
        }
    }
}